@{
    ViewBag.Title = "About US";
}
<h2>@ViewBag.Title.</h2>
<head>

</head>
<body>

            <img src="~/Content/Images/carw3.png" width="1200" height="600">
        <h3>Our Beliefs</h3>
            <h4>
                At MKa Car Workshop, we embrace the philosophy of providing unparalleled customer service, ensuring that you leave our workshop with a wide smile on your face.

                Our mission is to remove the negative perception and doubts that car owners have towards independent car workshops. We believe that, in building trust with our customers by increasing transparency via information sharing, will our customers visit us again in the future.

                We envision MKa Car Workshop to be one of the best car workshop in Myanmar within the next 5 years. By being a one-stop car workshop that provides mechanical, informational and top notch customer service, we hope you can join us in our journey and we look forward to having you alongside us!
            </h4>
      <h3>Our Founder</h3>
            <h4>
                MKa Car Workshop was founded in 1986. Our founder, Mr. John Barkin, has more than 30 years of automotive engineering experience. He attends courses frequently to stay ahead of the technological advances so as to better serve our customers with new found knowledge.

                His certificates and achievements in the automotive industry reflects his professionalism of a certified engineer.

                John, together with his team of experienced mechanics, have a deep passion and understanding working with cars and engines

                which in turn, translates into the quality of work done for you.
            </h4>
 
</body>



