
<head>
    <link href="~/Content/lightbox.min.css" rel="stylesheet" />
    <link href="~/Content/gallery1.css" rel="stylesheet" />
    <script src="~/Content/lightbox-plus-jquery.min.js"></script>

</head>
<body>
    <h1>Gallery</h1>
    <B class="gallery">
        <a href="~/Content/Images/gal1.jpg" data-lightbox="mygallery"><img src="~/Content/Images/gal1.jpg" /></a>
        <a href="~/Content/Images/gal2.jpg" data-lightbox="mygallery"><img src="~/Content/Images/gal2.jpg" /></a>
        <a href="~/Content/Images/gal3.jpg" data-lightbox="mygallery"><img src="~/Content/Images/gal3.jpg" /></a>
        <a href="~/Content/Images/gal4.jpg" data-lightbox="mygallery"><img src="~/Content/Images/gal4.jpg" /></a>
        <a href="~/Content/Images/gal5.jpg" data-lightbox="mygallery"><img src="~/Content/Images/gal5.jpg" /></a>
        <a href="~/Content/Images/gal6.png" data-lightbox="mygallery"><img src="~/Content/Images/gal6.png" /></a>
        <a href="~/Content/Images/gal7.jpg" data-lightbox="mygallery"><img src="~/Content/Images/gal7.jpg" /></a>
        <a href="~/Content/Images/gal8.jpg" data-lightbox="mygallery"><img src="~/Content/Images/gal8.jpg" /></a>
    </B>
    <iframe width="570" height="315" src="https://www.youtube.com/embed/aX1zfipt4ZU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="562" height="315" src="https://www.youtube.com/embed/SeBItlDg0wc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>

<div> &nbsp;</div>
<div>&nbsp;</div>

