
<head>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
</head>
<body>
    <div class="slider">
        <div class="load">  </div>
        <div class="content">
            <div class="principal">
                <h1>MKa Car Workshop</h1>
                <p>Welcome The WorkShop<p>
                    <div class="gallery">
                        <div calss="desc">
                            <c>Book Service Day<c>
                        </div>
                        <a href="@Url.Action("Create", "Books")" target=""><i class='far fa-calendar-alt' style='font-size:200px;color:red'></i></a>
                    </div>
                    <div class="gallery">
                        <div calss="desc"><c>Our Services<c></div>
                        <a href="@Url.Action("OurServices","Home")" target="_blank"><i class='fas fa-wrench' style='font-size:200px;color:red'></i></a>
                    </div>
                    <div class="gallery">
                        <div calss="desc"><c>Gallery<c></div>
                        <a href="@Url.Action("Gallery","Home")" target="_blank"><i class='fas fa-images' style='font-size:200px;color:red'></i></a>
                    </div>



            </div>
        </div>
    </div>
    <h3>Why Choose US?</h3>
    <h4>Our services are fine and our intentions are to make sure that all the users are satisfied with their visit for that we make sure that all of our customers are given the highest quality of service that we can.
    our web site is simple to use with color schemes matching for the eyes of a customer and we also tnd to make sure that all functoions are easy to use and understand. unlike most workshop sites we also hav a page where
    customers can book their cars for repairs. we have a contact page where we show you the locations of our workshops as well as a from to send feed back. we also have a gallery to show videos and photos of our work and how 
    we clean or fixes cars.</h4>
</body>
