@{
    ViewBag.Title = "OurServices";
}
<head>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link href="~/Content/style1.css" rel="stylesheet" />
</head>
<body>
    <h2>Our Services</h2>
    <h4>These are the various services avilable at our Work shop.</h4>

    <div class="responsive">
        <div class="gallery">
            <h3>Oil Change</h3>
            <a target="_blank" href="~/Content/Images/Oil.jpg">
                <img src="~/Content/Images/Oil.jpg" width="700" height="500">
                <h4>premium quality-20$<br>standardquality-10$<br>Vip Service-30$<br> </h4>
            </a>
            <h4>We provide the best quality oil. Our experienced workers who are trained to know when it is best to change oil they are also trained to know which oil is suitable for which oil to make sure that the engine works perfectly.</h4>
        </div>
    </div>


    <div class="responsive">
        <div class="gallery">
            <h3>Full Body Repair</h3>
            <a target="_blank" href="~/Content/Images/auto-parts.png">
                <img src="~/Content/Images/auto-parts.png" width="700" height="500">
                <h4>Aircon Gas Refill-30$<br>Aircon fix-100$<br>Body repair-200$<br>full body+interior repair-300$<br> </h4>
            </a>
            <h4>At MKa we offer full body repairs we can repair any kind of car and our workers are trined with various kinds of cars and also trained to use tools perfectly. We also have spare parts for most type of cars.</h4>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <h3>Car Wash</h3>
            <a target="_blank" href="~/Content/Images/wash.jpg">
                <img src="~/Content/Images/wash.jpg" width="700" height="500">
                <h4>Fullbody wash-10$<br>polish car-30$<br>fullbodywash and polish-35$<br>interior cleaning-10$<br> </h4>
            </a>
            <h4>Dont feel like washing your car? we got it covered we also offer car wash services as well car polishing and interior cleaning services at our workshop.</h4>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <h3>Full Body Modification</h3>
            <a target="_blank" href="~/Content/Images/modify.jpg">
                <img src="~/Content/Images/modify.jpg" width="700" height="500">
                <h4>frontbumper-50$<br>body-60$<br>back bumper-45$<br>interior-40$<br> </h4>
            </a>
            <h4>At MKa Car Workshop we offer full body modification of various types of cars depending on the type of car.</h4>
        </div>
    </div>

    <div class="clearfix"></div>

    <a href="@Url.Action("Create", "Books")" target=""><i class='far fa-calendar-alt' style='font-size:50px;color:red'></i><h4>Book Now</h4></a>
    <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.facebook.com%2Fsteve.wolfie.716&layout=button_count&size=large&mobile_iframe=true&appId=289882241693704&width=84&height=28" width="84" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
</body>

